extends ../layouts/default

block content
	.container
		#index-banner.section.no-pad-bot: .container
			h1.header.center.orange-text Welcome!
			.row.center
				h5.header.col.s12.light OrderOne is a complete Food Service Solution 
			br
	.container: .row: .col.s10.offset-s1: .section: .row
		.col.s12.m3
			.card
				.card-image
					img(src='images/food-service.jpg')
				.card-content
					.card-title Card Title
					p
					| I am a very simple card. I am good at containing small bits of information.
					| I am convenient because I require little markup to use effectively.
				.card-action
					a(href='#') 
						| Make the switch
						i.material-icons.right chevron_right
		.col.s12.m3
			.card
				.card-image
					img(src='images/salad.jpg')
				.card-content
					.card-title Card Title
					p
					| I am a very simple card. I am good at containing small bits of information.
					| I am convenient because I require little markup to use effectively.
				.card-action
					a(href='#') 
						| Make the switch
						i.material-icons.right chevron_right
		.col.s12.m3
			.card
				.card-image
					img(src='images/chefs.jpg')
				.card-content
					.card-title Card Title
					p
					| I am a very simple card. I am good at containing small bits of information.
					| I am convenient because I require little markup to use effectively.
				.card-action
					a(href='#') 
						| Make the switch
						i.material-icons.right chevron_right
		.col.s12.m3
			.card
				.card-image
					img(src='images/phone-order.jpg')
				.card-content
					.card-title Card Title
					p
					| I am a very simple card. I am good at containing small bits of information.
					| I am convenient because I require little markup to use effectively.
				.card-action
					a(href='#') 
						| Make the switch
						i.material-icons.right chevron_right
